body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    font-family: 'Pokemon Solid', sans-serif;
}

.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0 auto;
}

.card {
    width: 300px;
    height: 480px; /* Set your preferred fixed height for the card */
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 70%; /* Set your preferred height for the image as a percentage of the card height */
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.card-content {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card h3 {
    margin-bottom: 10px;
    text-align: center;
}

.card p {
    flex-grow: 1;
    overflow: hidden;
    text-align: center;
}

.card button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #45a049;
}

/* Adjustments for larger card sections and 3 cards per row */
@media (min-width: 768px) {
    .card-section {
        max-width: 900px;
    }

    .card {
        width: calc(33.33% - 20px);
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
    font-family: 'Pokemon Solid', sans-serif;
}